
@font-face {
    font-family: Romula;
    src:url("../fonts/Romul.ttf");
}
@font-face {
    font-family: Academy;
    src:url("../fonts/academy.ttf");
}

.no-dec-link{
    text-decoration: none;
}

.body{
    background: url("../img/background-body.png") repeat;
}

.wrapper-all-page{
    background: url("../img/backgound-wrapper.png") repeat;
    width: 585px;
    height: 640px;
    margin: 20px auto;

    box-shadow: 0 1px 25px 0 #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #662500;
    position: relative;
}

.wrapper-pizza-house{
    background: url("../img/backgound-wrapper-2.png") no-repeat;
    height: 641px;
    width: 600px;
    position: absolute;
    right: -3px;
    top: 0px;
    padding-top: 65px;
}

.background-bottom-caption-pizza-house{
    background: url("../img/background-wrapper.png");
    width:542px;
    height:456px;
    margin: 0 auto;
    margin-top: 64px;
    margin-right: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #979378;
}

.caption-pizza-house{
    width:203px ;
    height: 30px;
    font-size: 26px;
    font-family: Romula;
    background: linear-gradient(#f1eee2,#caba8e);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-left: 215px;
}

.only-perfect-pizza{
    font-family: Academy;
    font-size: 10px;
    background: linear-gradient(#f1eee2,#caba8e);
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    margin-left: 250px;

}

.wrapper-head-main{
    background: url("../img/background-head-main.png") no-repeat;
    width: 420px;
    padding-top: 27px;
    margin: -60px auto 0;
}

.menu-head{
    display: flex;
    font-family: Academy;
    font-weight: bold;
    font-size: 10px;
    margin-left: 23px;
    margin-top: 1px;
    height:32px;
    width: 383px;
    background: #c0b38b;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #787057;
    box-shadow: 0px -1px 20px -4px #000000 inset;
}

.menu-li-header{
    width: calc(100% / 4);
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
    border-right: 1px solid #a59974;
    cursor: pointer;
}

.menu-li-header:hover{
    background: #9b040c;
    opacity: 0.5;
}

.menu-li-header:hover .color-link-menu-head{
    color: #ddddb0;
}

.menu-li-header:last-child{
    border-right: none;
}

.color-link-menu-head{
    color: #554935;
}

.main{
    height: 450px;
}

.footer{
    text-align: center;
    font-family: Tahoma;
    font-size: 9px;
    margin-top: 10px;
    color: #93817c;
}

.head{
    background: url("../img/top-menu.png") repeat;
    width: 390px;
    height: 3px;
    margin-left: 21px;
    margin-top: -4px;
}


.bottom-line-green-and-orange{
    background: url("../img/bottom-line.png") no-repeat;
    height: 20px;
    width: 400px;
    margin-left: 22px;
    margin-top: 5px;
}


.wrapper-white-background-main{
    background: url("../img/wrapper-white-bottom-menu.png");
    width: 385px;
    height: 415px;
    margin-left: 24px;

}